/* Webfont: NimbusRomNo9L-Reg */
@font-face {
  font-family: "NimbusRomNo9L";
  src: url("../assets/Fonts/NimbusRomNo9L-Reg.eot"); /* IE9 Compat Modes */
  src: url("../assets/Fonts/NimbusRomNo9L-Reg.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/Fonts/NimbusRomNo9L-Reg.woff") format("woff"),
    /* Modern Browsers */ url("../assets/Fonts/NimbusRomNo9L-Reg.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/Fonts/NimbusRomNo9L-Reg.svg#NimbusRomNo9L-Reg")
      format("svg"); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}

/* Webfont: NimbusRomNo9L-RegIta */
@font-face {
  font-family: "NimbusRomNo9L";
  src: url("../assets/Fonts/NimbusRomNo9L-RegIta.eot"); /* IE9 Compat Modes */
  src: url("../assets/Fonts/NimbusRomNo9L-RegIta.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/Fonts/NimbusRomNo9L-RegIta.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/Fonts/NimbusRomNo9L-RegIta.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/Fonts/NimbusRomNo9L-RegIta.svg#NimbusRomNo9L-RegIta")
      format("svg"); /* Legacy iOS */
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-weight: normal;
  font-family: "icomoon";
  font-style: normal;
  src: url("/../assets/Fonts/icomoon.eot?azqktj");
  src: url("/../assets/Fonts/icomoon.eot?azqktj#iefix")
      format("embedded-opentype"),
    url("/../assets/Fonts/icomoon.ttf?azqktj") format("truetype"),
    url("/../assets/Fonts/icomoon.woff?azqktj") format("woff"),
    url("/../assets/Fonts/icomoon.svg?azqktj#icomoon") format("svg");
}

html,
body {
  width: 100%;
  height: 100%;

  /* /overflow: hidden; */
  margin: 0;
  background-color: #000000;

  touch-action: none;
  overscroll-behavior: none;

  font-family: "NimbusRomNo9L";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: white;

  line-height: 1.3em;
}

a {
  /* text-decoration: none; */
  color: white;
}

h2 {
  font-size: 20px;
  font-weight: normal;
}

h3 {
  font-size: 14px;
  font-weight: normal;
}

h4 {
  font-size: 14px;
  font-weight: normal;
  margin-top: -18px;
}

.main {
  height: calc(100% - 12rem);
  overflow: hidden;
}

.smaller {
  font-size: 14px;
}

#scene {
  /* overflow: hidden; */
}

canvas {
  display: block;
}

#loading-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-change-in {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.screen-change-out {
  /*animation-name: fade-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;*/
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#loading-bar {
  width: 100%;
  height: 3px;
  background-color: #222222;

  display: inline-flex;
}

#progress {
  background-color: #888888;
  height: inherit;
  border-radius: inherit;
  width: 0%;
}

.content,
.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
}

.content {
  background-color: orange;
  z-index: 100;
}

.modal {
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0s 0.5s;
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
}

.modal.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
  overflow-y: scroll;
}

#takeover {
  height: 100%;
  width: 100%;
}

#popup_content {
  padding: 10px;
  /* height: auto; */
  display: block;
  cursor: pointer;
}

.skinny {
  /* position: absolute; */
  width: 60%;
  /* left: 20%; */
  /* top: 10%; */
  margin: 0 auto 0;
}

.scrolly {
  overflow: scroll;
}

#info_btn {
  z-index: 99;
  position: absolute;
  top: 32px;
  right: 80px;
  margin-right: -60px;
}

#close_info_btn {
  z-index: 102;
}

.header {
  width: calc(100% - 4rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header h1 {
  /* margin-top: 1em; */
  /* font-family: Barlow, sans-serif; */
  font-size: 1em;
  text-decoration: none;
}

/* .headerLogos {
  display: flex;
  align-items: flex-end;
} */

.dxLogo {
  display: block;
  height: 1.3em;
}

.dxLogo img {
  height: 100%;
}

.slLogo {
  height: 1.3em;
  margin-left: auto;
  /* margin-right: 2rem; */
  display: block;
  /* align-self: flex-end; */
}

.slLogo img {
  height: 100%;
}

.footer {
  position: relative;
  z-index: 7;
  display: flex;
  flex-direction: column;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  min-height: 6.5rem;
  font-family: Lekton, sans-serif;
  font-weight: 400;
  letter-spacing: 2.46px;
  line-height: 21px;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: flex-end;
  margin-top: 4rem;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer__cc {
  position: absolute;
  left: 2.4rem;
  font-size: 12.3px; /* var(--font-size-sm); */
  line-height: 1;
  transform: rotate(-90deg);
  transform-origin: top left;
  text-transform: uppercase;
  top: 3.5em;
}

.footer__cc:link,
.footer__cc:visited {
  color: white;
}

.slnsw-icon,
[class^="slnsw-icon-"],
[class*=" slnsw-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-weight: normal;
  font-family: "icomoon", sans-serif !important;
  speak: none;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  letter-spacing: 0;
  text-transform: none;

  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slnsw-icon-facebook::before {
  content: "\e600";
}

.slnsw-icon-twitter::before {
  content: "\e605";
}

.slnsw-icon-flickr::before {
  content: "\e601";
}

.slnsw-icon-instagram::before {
  content: "\e602";
}

.slnsw-icon-youtube::before {
  content: "\e943";
}

.slnsw-icon-pinterest::before {
  content: "\e603";
}

.slnsw-icon-rss::before {
  content: "\e604";
}

.footer__social {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: -0.2em;
  font-size: 27px; /* var(--font-size-xlg); */
}

.footer__social::before {
  position: absolute;
  bottom: -0.9em;
  left: 0.35em;
  width: 2.5em;
  border-bottom: 1px solid white;
  content: "";
}

.footer__social::after {
  position: absolute;
  top: 3em;
  right: 0.2em;
  height: 0.5em;
  border-right: 1px solid white;
  content: "";
}

.footer__social a:link,
.footer__social a:visited {
  color: white;
}

.footer__social a:hover {
  color: #e6007e; /* var(--colour-highlight); */
  text-decoration: none;
}

ul.footer-menu {
  position: relative;
  display: flex;
  margin-top: 0;
  padding-left: 0;
  font-size: 12.3px; /* var(--font-size-sm); */
  text-transform: uppercase;
  flex-direction: row;
  order: 3;
  width: 100%;
  margin-bottom: 2rem;
  text-align: left;
  margin-right: 1em;
}

.footer li {
  list-style: none;
  margin-left: 1em;
}

ul.footer-menu li::after {
  margin-left: 1em;

  content: "/";
}

ul.footer-menu li:last-child::after {
  content: "";
}

ul.footer-menu a:link,
ul.footer-menu a:visited {
  color: white;
}

ul.footer-menu::after {
  position: absolute;
  left: -3em;
  width: 3em;
  border-top: 1px solid white;
  content: "";
  top: -1em;
  bottom: auto;
}

.footer__nsw-logo {
  position: relative;
  height: auto;
  margin-left: 2em;
}

.footer__nsw-logo img {
  display: flex;
  margin-bottom: 0;
  width: 3em;
  margin-right: -0.3em;
}

.footer__nsw-logo::after {
  position: absolute;
  right: 0;
  height: 3.5em;
  border-right: 1px solid white;
  content: "";
  bottom: -2.2em;
  width: 21px; /*  var(--spacing-lg); */
  border-right: none;
  border-bottom: none;
}
